* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #606060;
}

.nav__links {
   list-style-type: none; 
}

a {
    color: #000;
}

header {
    padding: 20px 20px;
    background-color: #168d96;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.site__title {
    position: relative;
    margin: 0 auto;
    font-size: 20px;
}

.nav__links {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 15px;
    font-weight: 700;
}

.nav__link {
    font-size: 1em;
    display: inline-block;
}

#placeholder__img {
    margin: 40px 0;
    border-radius: 10px;
}

.placeholder__container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#recipe-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    margin-bottom: 20px;
}

.recipe__img {
    margin: 20px 0;
}

.recipe__name {
    font-size: 2em;
    margin-bottom: 10px;
}

.recipe__link {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 20px;
}

.button__container {
    display: flex;
    justify-content: center;
}

button {
    font-size: 20px;
    font-weight: 500;
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    background-color:#3d8941;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    text-shadow: #333;
}

button:hover {
    background-color: #317e35;
    transform: scale(1.1);
}

@media screen and (max-width: 1280px) {
    .nav__link {
        font-size: 14px;
    }
    .site__title {
        font-size: 18px;
    }
}

@media screen and (max-width: 1080px) {
    .nav__link {
        font-size: 12px;
    }
    .site__title {
        font-size: 16px;
    }
    #placeholder__img {
        transform: scale(0.92);
    }
}

@media screen and (max-width: 880px) {
    .nav__link--anchor {
        display: none;
    }
    .nav__link {
        font-size: 12px;
    }
    .site__title {
        font-size: 14px;
    }
    #placeholder__img {
        transform: scale(0.84);
        margin: 0;
    }
}

@media screen and (max-width: 680px) {
    .nav__link--anchor {
        display: none;
    }
    .nav__link {
        font-size: 10px;
    }
    .site__title {
        font-size: 12px;
    }
    #placeholder__img {
        transform: scale(0.76);
        margin: 0;
    }
}
