* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #606060;
}

ul {
    list-style-type: none;
}

a {
    color: #000;
}

header {
    padding: 10px 20px;
    background-color: #168d96;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site__title {
    position: relative;
    margin: 0 auto;
    font-size: 20px;
}

.nav__links {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 15px;
    font-weight: 700;
}

.nav__link {
    font-size: 16px;
    display: inline-block;
}

#meal-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    }

#meal-search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

#meal-name-input {
    font-size: 16px;
    padding: 10px;
    width: 300px;
    margin: 20px;
    border-radius: 5px;
    border-color: #333;
    border-width: 1px;
}

#search-button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.meal-card {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    font-size: 16px;
    margin: 0px 20px;
    padding: 5px;
}

.category-search__container {
    display: flex;
    flex-direction: flex;
}

@media screen and (max-width: 1280px) {
    .nav__link {
        font-size: 14px;
    }
    .site__title {
        font-size: 18px;
    }
}

@media screen and (max-width: 1080px) {
    .nav__link {
        font-size: 12px;
    }
    .site__title {
        font-size: 16px;
    }
}

@media screen and (max-width: 880px) {
    .nav__link--search {
        display: none;
    }
    .nav__link {
        font-size: 12px;
    }
    .site__title {
        font-size: 14px;
    }
}